html, body {
    height: 100%;
    margin: 0;  
    font-family: Rubik, Arial, Helvetica, sans-serif;  
}

body {
    display: flex;
    flex-direction: column;
    padding: 0em;
}


.page-header {
    background-color: #2F3442;
    width: 100%;
    color: #DFDCC4;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 16px 0;
}

.page-header h1 {
    text-align: center;
    margin: auto;
    color: #DFDCC4;
    font-size: 2em;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.page-header h2 {
    text-align: center;
    margin: auto;
    color: #DFDCC4;
    font-size: 2em;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header-profile-pic {
    height: 16em;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
}

.content {
    flex: 1 0 auto;
    margin: 16px;
}

.content hr {
    
    z-index: 5;
}

footer {
    flex-shrink:0;
    background-color: #2F3442;    
    width: 100%;
    padding-bottom: 1em;
}

.footer-info {    
    color: #DFDCC4;  
}

.footer-info a {
    color: #DFDCC4;
}

.footer-updated {
    color: #2EA8A9;
    text-align: center;    
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden; 
    display: table;  
    margin: 0 auto; 
}

.flex-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding-left: 0;
}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid;
}

.assignments li {
    list-style-type: circle;
}