html {
    font-family: Rubik, Arial, Helvetica, sans-serif;  
}

body {
    display: flex;
    flex-direction: column;
    padding: 0em;
}

.page-header {
    background-color: #2F3442;
    width: 100%;
    color: #DFDCC4;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 1px 0;
}

.page-header h1 {
    text-align: center;
    margin: auto;
    color: #DFDCC4;
    font-family: Barlow, Arial, Helvetica, sans-serif;
    padding: 8px 0 0 0;
}

.page-header h2 {
    font-family: Barlow, Arial, Helvetica, sans-serif;
}

.content {
    flex: 1 0 auto;
    margin: 16px;
    width: auto;  
}

.content hr {
    
    z-index: 5;
}

footer {
    flex-shrink:0;
    background-color: #2F3442;    
    width: 100%;
    padding-bottom: 1em;
}

.footer-info, .footer-info a {    
    color: #DFDCC4;  
}

.footer-updated {
    color: #2EA8A9;
    text-align: center;    
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden; 
    display: table;  
    margin: 0 auto; 
}

.flex-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding-left: 0;
}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid;
}

.principle-layout {
    display: grid;
    grid-template-columns: 1fr;    
    
}

.principle-frame {
    margin: 8px;
    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    background-color: #F0F0F0;

}

.principle-title {
    margin: -1px -1px 0 -1px;
    border-radius: 5px 5px 0 0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-bottom: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #39485D;
    padding: 8px;
    font-family: Barlow, Arial, Helvetica, sans-serif;
}

.principle-site-name, .principle-link {
    margin: 8px;
    font-size: 12px;
}

.principle-example {
    border-width: 1px;
    border-style: solid;
    border-color: slategrey;
    margin: 8px;
}

.principle-example img {
    width: 100%;
    vertical-align: middle;
}

.principle-explaination{
    word-wrap: break-word;    
    overflow:hidden;
    margin: 8px;
}

