@media only screen and (min-width: 54em) {

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }

    .content {
        width: 51em;
    }

    footer {
        flex-shrink: 0;
        align-self: center;
        background-color: #2f3e46;
        width: 51em;
        padding-bottom: 1em;
    }
}