@media only screen and (min-width: 54em) {

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }

    .content {
        width: 51em;    
        max-width: 51em;    
    }

    footer {
        align-self: center;
        width: 51em;
    }

    
    .hero {
        margin: 2em auto 1em auto;
    }
    
    .forecast{
        margin: 2em auto;
    }

    

    .forecast_layout {
        max-width: 30em;
        margin: 8px auto;
    }

    .feature_article{ 
        margin: 2em auto;       
        padding: 16px;
    }

    .feature_article div {    
        display: inline-block;    
        width: 48%;
    }

    .feature_article img{        
        float:right;
        max-width: 48%;
        border: 1px solid black;  
         
    }

    .contact_info {
        margin: 2em auto 0 auto;
    }

    .contact_info {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 1em 0 0 0;
        border: #2f3e46 solid 1px;
        background-color: #84a98c;
        margin: 2em auto 0 auto;
    }

    .contact_info div {
        margin: 4px 8px;

    }

    .contact_info h4 {
        margin: 4px 0
    }

    .contact_info p {
        margin: 4px 0
    }

    .contact_info .address {
        margin: 1em 5em;
    }

    .contact_info .communication {
        margin: 12px 5em;       
    }
    .contact_info .social_links{
        margin: 12px 5em;
    }

    .contact_info .map {
        max-width: 305px;
        margin: 8px auto;
    }

    .map{
        display:block;
        grid-row: 1 ;
        grid-column: 2;
    }

    .map img {
        display: block;
        margin: 0;
        padding: 0;
    }


}