header {
  flex-wrap: unset;
  .logo {
    display: inline-block;
    width: 140px;
  }
  h1 {
    font-size: 48px;
    margin: 8px 0;    
  }
  h2 {
    font-size: 32px;  
  }  
}


main{ 
  max-width: 960px;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-size: 32px;
  }

  .hero {  
    a {
      bottom: 24px;
      left: 16px;
    }
    span {
      font-size: 24px;
    }
  }  

  .contactInfo {       
    width: 70%;
    .commInfo{
      width: 60%;      
    }
    .socialInfo{
      width: 60%;      
    }
  }
}