header {
  .logo {
    display: inline-block;
    width: 105px;
  }
  h1 {
    font-size: 32px;
    margin: 8px 0;    
  }
  h2 {
    font-size: 24px;
  } 
  
  nav{
    
    a{     
      margin: 8px;
      span{
        margin: 4px 0px;
        padding: 8px 12px; 
        font-size: medium;
      }
    }
  }
}


main{ 
  
  max-width: 720px;
  margin: 0 auto;
  .hero {  
    a {
      bottom: 24px;
      left: 16px;
    }
    span {
      font-size: 24px;
    }
  }  

  .companyIntro {
    .pull-right {
      float:right;
    }
    
    .sideimage {
      width: 50%;
      margin: 0 0 12px 12px;
    }
  }

  .contactInfo {
    align-self: flex;
    width:80%;
    margin: 12px auto;
         
    .commInfo{
      width: 70%;      
    }
    .socialInfo{
      width: 70%;      
    }
  }
}