header {
  .logo {
    display: inline-block;
    width: 105px;
  }
  h1 {
    font-size: 32px;
    margin: 8px 0;    
  }
  h3 {
    font-size: 24px;
    margin: 8px 0 8px 16px;    
  }

  button{
    font-size: 32px;
    width: 240px;
    text-align: right;   
    margin-left: auto;
    margin-right: 8px;
    padding: 12px;
  }
  
  nav{
    margin: 16px auto;
  }
}


main{ 
  .hero {  
    a {
      bottom: 24px;
      left: 16px;
    }
    span {
      font-size: 24px;
    }
  }  
}