header {
  .logo {
    display: inline-block;
    width: 105px;
  }
  h1 {
    font-size: 32px;
    margin: 8px 0;    
  }
  h2 {
    font-size: 24px;
  } 
  
  nav{
    
    a{     
      margin: 8px;
      span{
        margin: 4px 0px;
        padding: 8px 12px; 
        font-size: medium;
      }
    }
  }
}


main{ 
  .hero {  
    a {
      bottom: 24px;
      left: 16px;
    }
    span {
      font-size: 24px;
    }
  }  
  .contactInfo {
    margin: 12px auto;
  }
}