body {
  background-color: $bodyBackground;
  color: $bodyColor;
  font-family: $fontFamilyBody;
  font-weight: $regularWeight;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: $headerBackground; 
  color: $bodyColor; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .logo {
    display: inline-block;
    width: 85px;
  }
  .title {
    flex-shrink: 0;
    flex-grow: 1;
  }
    
  h1 {
    font-size: 24px;
    margin: 8px 0;    
  }
  h2 {
    font-size: 20px;
    margin: 8px 0 0px 16px;    
  }
  div {
    display: inline-block;
    
  }

  nav {
    background-color: $headerBackground;
    color: $bodyColor;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
    a{
      vertical-align: middle;
      text-decoration: none;
      margin: 8px;
      span{
        margin: 4px;
        padding: 8px 24px; 
        font-weight: bold;     
        color: $bodyColor;
        font-size: smaller;
      }
    }
  
    span.selected {
      background-color: $accentColor;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontFamilyHeader;
  font-weight: $heavyWeight;
}



main{
  flex: 1;
  text-align: center;
  h2 {
    text-align: center;
  }

  .hero {
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    a {
      position: absolute;
      bottom: 16px;
      left: 8px;
      text-decoration: none;
      
      
      color: $bodyColor;
      padding: 0;
    }
    span {
      display: inline;    
      margin: 0;
      padding: 0;    
      background-color: rgba(255, 255, 255, .40);
      padding: 4px;
      border: 1px solid black;
      font-weight: 700;
    }
  }  

  .companyIntro {
    text-align: left;
  }

  .weatherInfo{    
    display: inline-block;    
    margin: 12px;
    text-align: center;       
    
    .weatherSummary {      
      display: grid;
      grid-template-columns: 2fr 4fr;
      grid-gap: 8px;      
      border: .5px solid black;
      margin: 8px;
      padding: 8px;
      background-color: $cardBackground;
      box-shadow: 0 0 15px  gray;

      text-align: left;
      display: grid;
      grid-template-columns: 2fr 2fr 3fr 2fr;
      grid-gap: 4px;

      img {
        grid-column-start: 1;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 5;
      }
    }
  }

  .locationInfo{
  
  }
  .locationInfo iframe {
    max-width: 100%;
  }

  .contactInfo {
    margin: 12px auto;
    display: inline-block;
    text-align: left;
    .commInfo{
      margin: 12px auto;    
      span {
        
        display: block;
      }
    }
  }
}

footer {

}



.clearfix::after {
  content: "";
  clear: both;
  display: table;
}