$bodyBackground: #FFBF91;
$headerBackground: #54abb3;
$headerColor: #BE7142;
$bodyColor: Black;
$cardBackground: #abf8ff;
$accentColor: #91f6ff;

$fontFamilyBody: 'Raleway', sans-serif;;
$fontFamilyHeader: 'Amatic SC', cursive;;

$regularWeight: 400;
$heavyWeight: 700;

 