.activityInfo {
  padding: 8px;
  h3{
    font-size: 24px;     
  }

  img{
    float: right;
    padding: 8px;
  }
}

@media only screen and (min-width: 560px) {
  
} 

@media only screen and (min-width: 1028px) {
  
} 