@import "variables";


main{
  
  .hero {
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }

    a {
      position: absolute;
      bottom: 16px;
      left: 8px;
      text-decoration: none;
      
      
      color: $bodyColor;
      padding: 0;
    }
    span {
      display: inline;    
      margin: 0;
      padding: 0;    
      background-color: rgba(255, 255, 255, .40);
      padding: 4px;
      border: 1px solid black;
      font-weight: 700;
    }
  }  

  .companyIntro {
    text-align: left;
    width:80%;
    margin: 16px auto;

    
    
    .sideimage {
      max-width: 100%;
      margin: 0 0 12px 0;
    }

    img {
      width: 100%;
    }
  }

  

  .weatherInfo{    
    display: inline-block;    
    margin: 12px auto;
    text-align: center;       
    
    .weatherSummary {      
      border: .5px solid black;
      margin: 8px auto;
      padding: 8px;
      background-color: $cardBackground;
      box-shadow: 0 0 15px  gray;
      text-align: left;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 4px;

      .labelRight {
        text-align: right;
        padding-right: 8px;
        font-weight: 700;
      }

      img {
        
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end: 6;
      }
    }
  }

  .contactInfo {
    width: 100%;
    margin: 12px auto;
    display: inline-block;
    text-align: center;
    a {
      text-decoration: none;
    }
    
    .commInfo{
      width: 90%;
      font-size: 16px;
      margin: 12px auto;    
      span {
        
        display: block;
      }
    }
    .socialInfo{
      width: 90%;
      margin: 12px auto;  
    }
  }
}



@media only screen and (min-width: 32.5em) {
  main{
    .companyIntro {
      .pull-right {
        float:right;
      }
      
      .sideimage {
        width: 50%;
        margin: 0 0 12px 12px;
      }
    }
    
    .contactInfo {
      width:80%;
      margin: 12px auto;
          
      .commInfo{
        width: 70%;      
      }
      .socialInfo{
        width: 70%;      
      }
    }
  }
} 

@media only screen and (min-width: 54em) {
  main{
    .hero {  
      a {
        bottom: 24px;
        left: 16px;
      }
      span {
        font-size: 24px;
      }
    }  

    .contactInfo {       
      width: 70%;
      .commInfo{
        width: 60%;      
      }
      .socialInfo{
        width: 60%;      
      }
    }
  }  
}







