@import "variables";
@import "forms";


.adventureInfo {
  margin: 8px;  
}

.registerForm {
  margin: 8px;
}

.tripSpecs {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 8px;
  border: .5px solid black;
  margin: 8px;
  padding: 8px;
  background-color: $cardBackground;
  box-shadow: 0 0 15px  gray;
  text-align: left;
  h3{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 12px;
  }

  ul{
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }

  .label {
    text-align: right;
    font-weight: bold;
    margin-right: 8px;
  }  
}


@media only screen and (min-width: 32.5em) {
  .registerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
} 

@media only screen and (min-width: 54em) {
  .registerContent{    
    max-width: 960px;
    margin: 0 auto;
  }

} 