@import "variables";



.adventureInfo {
  margin: 8px;  
}

.registerForm {
  margin: 8px;
}

.tripSpecs {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 8px;
  border: .5px solid black;
  margin: 8px;
  padding: 8px;
  background-color: $cardBackground;
  box-shadow: 0 0 15px  gray;
  
  h3{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 24px;
  }

  ul{
    padding: 0;
    margin: 0;
  }
  li {
    list-style: none;
  }

  .label {
    text-align: right;
    font-weight: bold;
    margin-right: 8px;
  }

  textarea {
    resize: none;
    height: 5em;
    max-width: 90%;
  }
}


fieldset {
  border-radius: 7px;
  margin: 16px 0;
  text-align: left;

  legend {
    text-align: left;
    padding: 0 8px;
  }

  label.top {
    display: inline;
    margin: 8px 8px;
  }

  label.side {
    display: block;
    margin: 8px 8px;
  }
  
  input {
    display: block;
    margin: 8px 8px;
    padding: 1em;
    border-radius: 7px;
  }

  .side input{
    display: inline;
  }

  textarea {
    width: 90%;
    min-width: 16em;
    min-height: 5em;
    border-radius: 7px;
  }

}


@media only screen and (min-width: 560px) { 
  .registerContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
} 

@media only screen and (min-width: 1028px) {
  .registerContent{    
    max-width: 960px;
    margin: 0 auto;
  }

  fieldset {

    label.top {
      margin: 4px 4px;
    }

    label.side {      
      margin: 4px 4px;
    }

    input{
      padding: 1px 0;
      border-radius: 0;
    }

    textarea {
      border-radius: 0;
    }
  }

} 