form h3 {
  margin-left: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
}

form fieldset {

  margin: 32px;
  border: 1px solid #2f3e46;
  border-radius: 8px;
  padding: 16px;
}


form legend {
  color: #2f3e46;
  margin: 0 1em;
  padding: 0 .4em;
}

form fieldset:focus-within {
  border-width: 2px;
  margin: 31px;
}

form fieldset:focus-within legend {
  color: #354f52;
  font-weight: 600;
}

form label.top:focus-within {
  color: rgb(107, 63, 26);
  font-weight: 600;
}

form label.top {
  display: block;
  padding-top: 1em;
  color: #354f52;
  font-size: .85em;
}

form label.top span {
  display: block;
}

form label.top input,
form label.top select,
form label.top textarea {
  display: block;
  font-size: 1em;
  border: 1px solid #2f3e46;
  border-radius: 4px;
  padding: 1em;
  width: 90%;
  max-width: 20em;
}

form label.top .range_text {
  display: inline-block;
  padding: 0.2em 0 0 0;
  vertical-align: middle;
  color: #354f52;
}

form label.top span.range_text  {
  font-size: x-large;
  padding: 0;
  margin-left: 12px;
}

form label.side {
  display: block;
  color: #354f52;
  padding: .75em 0;
}

form label.side input {
  margin-right: .5em;
}

form input.submit_button {
  background-color: #52796f;
  color: #FFF;
  padding: 1em;
  margin: 0 0 2em 3em;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}


@media only screen and (min-width: 54em) {

  form label.top input {
    padding: .4em;
  }

  form label.side {
    padding: .4em 0;
  }

}