@media only screen and (min-width: 54em) {

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;
    }

    .content {
        width: 51em;        
    }

    footer {
        align-self: center;
        width: 51em;
    }

    
    .hero {
        margin: 2em auto 1em auto;
    }
    
    .forecast{
        margin: 2em auto;
    }

    .forecast_layout {
        max-width: 30em;
        margin: 8px auto;
    }

    .feature_article{ 
        margin: 2em auto;       
        padding: 16px;
    }

    .feature_article article {    
        display: inline-block;    
        width: 48%;
    }

    .feature_article img{        
        float:right;
        max-width: 50%;
        border: 1px solid black;      
    }

    .contact_info {
        margin: 2em auto 0 auto;
    }

}