@media only screen and (min-width: 32.5em) {

    .page-header {     
        
    }

    .page-header h1 {        
        font-size: 2.5em;
    }

    .announcement {

    }

    .header_title {
        height: 7em;
    }

    .content {
        margin: 16px 24px 24px 24px;
        align-self: center;
        width: 30em;
    }

    .hero {
        margin: 1em auto 2em auto;
    }

    .summary {
        padding: 16px 24px;
        position: absolute;
        top: 2em;
        left: 2em;
        background-color: #2f3e46;
        color: #84a98c;
        box-shadow: 0 2px 30px #333; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }


      .forecast {  
        display: block;
        margin: 1em auto;
        border: 1px solid #2f3e46;
        background-color: #84a98c;         
        padding: 8px;
      }
      
      .forecast h3 {
        text-align: center;
      }
      
      .forecast_layout {
        display: flex;
        flex-direction: row;
        margin: 8px;  
        justify-content: center;
      }
      
      .cell {
        flex: 1 1 100%;
        margin: 8px 0px;  
        border-left: 1px solid #2f3e46;
        border-top: 1px solid #2f3e46;
        border-bottom: 1px solid #2f3e46;
      }
      .cell:last-child{
        border-right: 1px solid #2f3e46;
      }
      
      .day {
        margin: 0 auto;
        background-color: #2f3e46;
        color: #84a98c;
        text-align: center;
      }
      
      .temp {
        text-align: center;
      }

      .feature_article{
        margin: auto;
        padding: 12px;
      }   

      .contact_info {
        border: #2f3e46 solid 1px;
      }
      
}