html, body {
    height: 100%;
    margin: 0;  
    font-family: 'Roboto', sans-serif;
    background-color: #cad2c5;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0em;
}

.page-header {
    background-color: #2f3e46;
    width: 100%;
    display: flex;
    color: #cad2c5;
    height: 7em; 
    padding: 0 0 16px 0;             
}

.page-header h1 {   
    margin: auto auto auto 30px;
    color: #cad2c5;
    font-size: 2em;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;     
}

.content {
    flex: 1 0 auto;
    padding: 16px;
}

h1, h2, h3 {
    color: #354f52;    
}

footer {
    flex-shrink:0;
    background-color: #2f3e46;    
    width: 100%;
    padding-bottom: 1em;
}

.footer-info {    
    color: #cad2c5;  
}

.footer-info a {
    color: #cad2c5;
}

.footer-updated {
    color: #84a98c;
    text-align: center;    
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden; 
    display: table;  
    margin: 0 auto; 
}

.flex-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding-left: 0;
}

.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border-left: 1px solid;
}

.assignments li {
    list-style-type: circle;
}

nav {
	background-color: #354f52;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav ul li { flex: 1 1 100%; }

nav li a {
	display: block;
	color: #cad2c5;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #84a98c;
	color: #2f3e46;
}

.selected { 
    background-color: #52796f; 
}

section img {
    max-width:100%; 
    height:auto;
    margin: 0px 24px 0px 0px;
}

section a {
    word-wrap: break-word;
}

.header-sample {
    margin: auto;
    font-size: 2em;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.label{
    font-weight: bold;
}